# Ignore compiled Python bytecode
__pycache__/
*.pyc
bot/secure
bot/secure/token.key

# Ignore Node.js dependencies
node_modules/

# Ignore log files
*.log
*.key

# Ignore IDE-specific directories
.idea/
.vscode/

.dev/
.venv/
